body {
  font-family: system-ui;
  background: #f1f5f9;
  margin: 0;
  padding: 0;
}

header {
  background: #2563eb;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

input, button {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

button {
  background: #22c55e;
  color: white;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
}
